  /* Selecting elements by class */
  .col-md-8 {
    padding: 10px;

  }
  .col-md-4 {
    padding: 10px;

  }


  .jumbotron {
    min-height: 50px;
    padding: 20px;
    margin: 20px;
    /* font-weight: 800; */
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
